---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: black;
  padding: 0;
  margin: 0;
}

section {
  width: 65%;
  margin-top: 40px;
  padding: auto;
}

footer {
  width: 15%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: auto;
}

header div {
  background-image: url("https://images.metmuseum.org/CRDImages/gr/original/DP138761.jpg");
  background-size: 260%;
  background-repeat: no-repeat;
  background-position: 45% 20%;
  color: black;
  height: 100%;
  left: 0;
}

header {
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 88%;
  width: 30%;
  height: 100%;
}

header h1 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  position: relative;
  top: 10%;
  width: 50%;
  background: darkslategrey;
  color: white;
  margin: auto;
}

header h1 a {
  font-family: inherit;
  font-size: 200%;
  font-weight: normal;
  font-style: italic;
  color: inherit;
}

header h1 a:hover {
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
}

header p {
  position: relative;
  display: grid;
  top: 10%;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  width: 50%;
  background: white;
}
