---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: black;
  padding: 0;
  margin: 0;
}

section {
  width: 65%;
  margin-top: 40px;
  padding: auto;
}

.wrapper {
  width: auto;
}

#background {
  background-image: url("https://images.metmuseum.org/CRDImages/gr/original/DP138761.jpg");
  background-size: 260%;
  background-repeat: no-repeat;
  background-position: 45% 20%;
  color: black;
  height: 100%;
  left: 0;
}

header {
  font-family: "Space Mono", monospace;
  color: black;
  font-size: 88%;
  width: 30%;
  height: 100%;
}

header h1 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  position: relative;
  top: 10%;
  width: 50%;
  background: darkslategrey;
  color: white;
  margin: auto;
}

header h1 a {
  font-family: inherit;
  font-size: 200%;
  font-weight: normal;
  font-style: italic;
  color: inherit;
}

header h1 a:hover {
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
}

#header1 {
  position: relative;
  display: grid;
  top: 10%;
  margin: auto;
  margin-top: 0.75em;
  padding: 0.3em 1em 0.3em 1em;
  width: 50%;
  background: white;
  font-size: 110%;
  font-family:'Arial';
  color: white;
  background-color: gray;
}

#header2 {
  position: relative;
  display: grid;
  top: 10%;
  margin: auto;
  margin-top: 0.75em;
  padding: 0.3em 1em 0.3em 1em;
  width: 50%;
  background: white;
  font-size: 110%;
  font-family:'Arial';
  color: white;
  background-color: gray;
}

#header2:hover {
  background-color: white;
  color: gray;
}

header div p {
  padding-bottom: 0em;
  margin-bottom: 0em;
}

#bio {
  font-size: 125%;
  padding: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  color: inherit;
  font-weight: normal;
  background: inherit;
}

#bio:hover {
  color: inherit;
  background: inherit;
  font-weight: normal;
  text-decoration: underline;
}

#footer {
  margin: 0;
  width: 30%;
  padding: 0;
  left: 0;
}

footer {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 88%;
  text-align: justify;
  margin: auto;
  padding: 1em;
  bottom: 0;
}

footer a {
  color: white;
  background: gray;
  padding: 0.1em;
  padding-top: 0;
  padding-bottom: 0;
}

footer a:hover {
  color: gray;
  background: white
}
