<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <table>
          <tbody>
            <tr>
              <th colspan="2" style="background:lavender">Background</th>
            </tr>
            <tr>
              <th style="text-align:left">Location</th>
              <td>Atlanta, Georgia</td>
            </tr>
            <tr>
              <th style="text-align:left">Occupation</th>
              <td>Data analyst</td>
            </tr>
            <tr>
              <th style="text-align:left">Alma mater</th>
              <td>University of Florida (BS)</td>
            </tr>
            <tr>
              <th style="text-align:left; vertical-align: top">Professional interests</th>
              <td style="text-align:left">
                <div>
                  <ul>
                    <li>Civic tech</li>
                    <li>public data and disinformation</li>
                    <li>visualization</li>
                    <li>statistics</li>
                    <li class="lastli">cybersecurity</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <th style="text-align:left">Github</th>
              <td><a href="https://github.com/zeldela">www.github.com/zeldela</a></td>
            </tr>
            <tr>
              <th colspan="2" style="background:lavender">A bit about me</th>
            </tr>
            <tr>
              <th style="text-align:left; vertical-align: top">Likes</th>
              <td style="text-align:left">
                <div>
                  <ul>
                    <li>Wikipedia</li>
                    <li>building things</li>
                    <li>finding cool data</li>
                    <li>corgis</li>
                    <li class="lastli">ancient history</li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <th style="text-align:left; vertical-align: top">Known for</th>
              <td style="text-align:left">Evangelizing video games</td>
            </tr>
          </tbody>
        </table>
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
