<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="sidebar">
      <h1><a href="{{ "/" }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h3 src="{{ "/" | absolute_url }}">{{ site.description }}</h3>
      <h2><a href="/about">ABOUT</a></h2>
      <h2><a href="{{ "https://github.com/" | append: site.github_username }}">GITHUB</a></h2>
      <footer>
        <a href="https://www.metmuseum.org/art/collection/search/247005">Background Art</a>
        <br>
        Hosted on GitHub Pages
        <br>
        Original theme by <a href="https://github.com/orderedlist">orderedlist</a>
      </footer>
    </div>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
